<div id="global-container">
    <div id="header">
        <h1><%= model.projectName %></h1>
    </div>
    <div id="content">
        <div id="left-menu">
            <%= include('vMenu', model.menuItems1level, 'UI/Menu/VMenu') %>
        </div>
        <div id="content-container">
            <div id="top-menu">
                <%= include('hMenu', model.menuItems2level, 'UI/Menu/HMenu') %>
            </div>
            <div id="content">
                <%= include('content', model.content) /* default renderer */ %>
            </div>
        </div>
    </div>
    <div id="footer">

    </div>
</div>