#content{
    padding: 5px;
    min-width: 600px;
}
#left-menu{
    float: right;/*left;*/
    width: 200px;
}
#content-container{
    padding: 0 25px;
    min-width: 300px;
    overflow: hidden;
}
#content {
    padding-top: 25px;
}