<% if (!obj.model) { %>
    Click to see details
<% } else { %>
<h3>Editor for field <%= model.name %></h3>
<dl>
    <dt>Name</dt>
    <dd><%= include('name', 'UI/Jet/Field/Text', modelObj.acc("name"), {instant:true}) %></dd>
</dl>
<dl>
    <dt>Label</dt>
    <dd><%= include('label', 'UI/Jet/Field/Text', modelObj.acc("label"), {instant:true}) %></dd>
</dl>
<dl>
    <dt>Type</dt>
    <dd><%= include('type', 'UI/Jet/Form/Select', modelObj.acc("typeImpl"), {instant:true, options: view.types, nameAttr:'name'}) %></dd>
</dl>
<dl>
    <dt>Comment</dt>
    <dd><%= include('comment', 'UI/Jet/Field/Text', modelObj.acc("comment"), {instant:true}) %></dd>
</dl>
<% }; %>