.j-label-decorator {
    overflow: hidden;
    padding: 0 4px;
    margin: 4px 0;
    box-sizing: border-box;
    min-width: 137px;
}
.j-label {
    float: left;
    width: 100px;
    overflow: hidden;
    margin: 0 4px 0 0;
    padding-top: 3px;
}
.j-item {
    margin-left: 104px;
}